name: "Build"

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
      - run: nvm install
        shell: bash -l {0}
      - run: npm ic
      - run: npm run lint
      - run: npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: flower-card.js
          path: dist/flower-card.js
