name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - run: nvm install
        shell: bash -l {0}
      - run: npm ic
      - run: npm run build
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/flower-card.js
          tag: ${{ github.ref }}
          overwrite: true
